# UNITY GENERATED FOLDERS (NE PAS VERSIONNER)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# PACKAGES
*.unitypackage

# VS / RIDER
.vs/
*.sln
*.csproj
*.pidb
*.user
*.unityproj
*.booproj
*.svd

# UNITY FILES
*.pidb
*.user
*.tmp
*.bak
*.manifest
*.meta~
*.swp

# OS FILES
.DS_Store
Thumbs.db
